@inherits Umbraco.Web.Macros.PartialViewMacroPage


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var selection = CurrentPage.Site().Children(); }


 <div class="container">
         <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            @if (selection.Any())
            {
                foreach (var item in selection.Where("UmbracoNaviHide == false"))
                 {
                     <li class="nav-item">
                     <a  class="nav-link" href="@item.Url">@item.Name</a>
                    </li>
                 }
            }
             @Umbraco.RenderMacro("newestMenu")
          </ul>
        </div>
      </div>






 
 
       
